nav {
    background-color: #650EE4;
  }
  
  ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 15px;
  }
  
  li {
    list-style: none;
    color: black;
    display: flex;
  }
  
  img {
    height: 60px;
  }
  h1{
    padding-top: 10px;
}