.nav{
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

*{
  font-family: 'Coiny', sans-serif;
}

body {
<<<<<<< HEAD
  background-color: #ECEBE9;
}

.App-header {
  background-color: green;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: black;
}

.header a {
  color: white;
  text-decoration: none;
}

.header a:hover {
  color: #ccc;
=======
  background-image: url(components/img/fundo.jpeg);
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: brightness(75%);
>>>>>>> afb9f988f28fc63bf90e9b5357dbf0454c3e5a86
}

.card_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forms {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  margin-bottom: 2rem;
}

.form-group label {
  padding: 10px;
  
}
.form-group select {
  padding: 10px;
  background-color: #fbfbf8;
  align-items: center;
  align-content: center;
  border-radius: 20px;
}

.QuestionMark a{
  display: flex;
  justify-content: end;
  font-size: 50px;
  text-decoration: none;
  color: black;
}

@media (max-width: 375px) {
  .form-group select {
    width: 20rem;
  }
}

@media (max-width: 321px) {
  .form-group select {
    width: 19rem;
  }
}
